<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Seu CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script>

    <!-- Bootstrap JS (opcional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>

    <script src="src/app.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="login-container">
            <div class="left-side">
                <img src="_img/ST.png"/>
                <img src="_img/circulos.png" alt="Circles" class="corner-img">
            </div>
            <div class="right-side">
                <div class="login-box">
                    <h2>LogWin</h2>
                    <input type="text" placeholder="Usuário" v-model="usuario">
                    <input type="password" placeholder="Senha" v-model="password">
                    <button @click="login">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
