/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    width: 100%;
    background: #0575E6;
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    padding: 10px; /* Adiciona algum espaço interno */
    box-sizing: border-box; /* Inclui o padding e border na largura e altura */
}

/* Contêiner para a imagem e o texto */
.header-content {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente no centro */
}

/* Ajuste da imagem no cabeçalho */
.imagem-ajustada {
    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

/* Estilo do título no cabeçalho */
header h1 {
    color: white; /* Define a cor do texto */
    margin: 0; /* Remove a margem padrão */
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Sidebar (Dashboard) */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0575E6, #02298A, #021B79);
}

/* Kanban Board */
.kanban-board {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

/* Kanban Column */
.kanban-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Kanban Header */
.kanban-header {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
}

/* Kanban Item */
.kanban-item {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
